apiVersion: apps/v1
kind: Deployment
{{ template "frank-console.metadata" . }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "frank-console.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "frank-console.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        checksum/configmap.env: {{ include (print $.Template.BasePath "/configmap.env.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.serviceAccount.create }}
      serviceAccountName: {{ include "frank-console.serviceAccountName" . }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        -
          {{- include "frank-console.container" . | nindent 10 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        {{- if .Values.securityContext.readOnlyRootFilesystem }}
        - name: tmpfs
          emptyDir: { }
        {{- end }}
        {{- if .Values.application.security.http.localUsers }}
        - name: {{ template "frank-console.fullname" . }}-local-users
          configMap:
            name: {{ template "frank-console.fullname" . }}-local-users
        {{- end }}
        {{- if .Values.application.security.http.activeDirectory.enabled }}
        - name: {{ template "frank-console.fullname" . }}-ldap-role-mapping
          configMap:
            name: {{ template "frank-console.fullname" . }}-ldap-role-mapping
        {{- end }}
        {{- range $i, $e := .Values.application.security.certificateStores }}
        - name: {{ template "frank-console.fullname" $ }}-certificate-store-{{ $i }}
          secret:
            secretName: {{ $e.secretName }}
            items:
              - key: {{ $e.key }}
                path: {{ $e.key }}
            defaultMode: 0664
        {{- end }}