{{/*
Predefined container for running a Frank!
*/}}
{{- define "frankframework.container" -}}
name: {{ .Chart.Name }}
securityContext:
  {{- toYaml .Values.securityContext | nindent 2 }}
image: "{{ .Values.image.registry }}{{ if .Values.image.registry }}/{{ end }}{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
imagePullPolicy: {{ .Values.image.pullPolicy }}
terminationMessagePolicy: FallbackToLogsOnError
{{- with .Values.command }}
command:
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- with .Values.args }}
args:
  {{- toYaml . | nindent 2 }}
{{- end }}
envFrom:
  - configMapRef:
      name: {{ template "frankframework.fullname" . }}-env
  {{- with .Values.envFrom }}
  {{- toYaml . | nindent 2 }}
  {{- end }}
  {{- if .Values.ladybugDatabase.enabled }}
  - secretRef:
      name: {{ .Values.ladybugDatabase.auth.secretName }}
  {{- end }}
volumeMounts:
  {{- if .Values.securityContext.readOnlyRootFilesystem }}
  - mountPath: /usr/local/tomcat/logs
    name: tmpfs
  - mountPath: /usr/local/tomcat/conf/Catalina
    name: tmpfs
  - mountPath: /usr/local/tomcat/work/Catalina/localhost
    name: tmpfs
  - mountPath: /usr/local/tomcat/temp
    name: tmpfs
  {{- end }}
  {{- if .Values.application.properties }}
  - name: {{ template "frankframework.fullname" . }}-k8s-specifics
    mountPath: /opt/frank/resources/K8sSpecifics.yaml
    subPath: K8sSpecifics.yaml
    readOnly: true
  {{- end }}
  {{- if .Values.console.enabled }}
  - name: {{ template "frankframework.fullname" . }}-hazelcast-network
    mountPath: /usr/local/tomcat/lib/hazelcast-network.xml
    subPath: hazelcast-network.xml
    readOnly: true
  {{- end }}
  {{- if .Values.ladybugDatabase.enabled }}
  - name: {{ template "frankframework.fullname" . }}-ladybug-resources
    mountPath: /opt/frank/resources/ladybug-resources.yml
    subPath: ladybug-resources.yml
    readOnly: true
  {{- end }}
  {{- range $configMap := .Values.generateConfigMap }}
  {{- if $configMap.items }}
  {{- range $item := $configMap.items }}
  - name: {{ $configMap.name }}
    mountPath: {{ $configMap.mountPath | default "/opt/frank/resources" }}/{{ $item.path }}
    subPath: {{ $item.key }}
    readOnly: {{ $configMap.readOnly | default true }}
  {{- end }}
  {{- else }}
  - name: {{ $configMap.name }}
    mountPath: {{ $configMap.mountPath | default "/opt/frank/resources" }}
    {{- with $configMap.subPath }}
    subPath: {{ . }}
    {{- end }}
    readOnly: {{ $configMap.readOnly | default true }}
  {{- end }}
  {{- end }}
  {{- range $secret := .Values.generateSecret }}
  {{- if $secret.items }}
  {{- range $item := .items }}
  - name: {{ $secret.name }}
    mountPath: {{ $secret.mountPath | default "/opt/frank/secrets" }}/{{ $item.path }}
    subPath: {{ $item.key }}
    readOnly: {{ $secret.readOnly | default true }}
  {{- end }}
  {{- else }}
  - name: {{ $secret.name }}
    mountPath: {{ $secret.mountPath | default "/opt/frank/secrets" }}
    {{- with $secret.subPath }}
    subPath: {{ . }}
    {{- end }}
    readOnly: {{ .readOnly | default true }}
  {{- end }}
  {{- end }}
  {{- with .Values.extraVolumeMounts }}
  {{- toYaml . | nindent 2 }}
  {{- end }}
ports:
  - name: hazelcast
    containerPort: 5701
    protocol: TCP
  - name: http
    containerPort: 8080
    protocol: TCP
  - name: https
    containerPort: 8443
    protocol: TCP
  - name: multicast
    containerPort: 54327
    protocol: TCP
  {{- with .Values.ports }}
    {{- toYaml . | nindent 2 }}
  {{- end }}
{{- with .Values.startupProbe }}
startupProbe:
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- with .Values.livenessProbe }}
livenessProbe:
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- with .Values.readinessProbe }}
readinessProbe:
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- with .Values.resources }}
resources:
  {{- toYaml . | nindent 2 }}
{{- end -}}
{{- end -}}