apiVersion: apps/v1
kind: Deployment
{{ template "frankframework.metadata" . }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "frankframework.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "frankframework.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        checksum/configmap.resources: {{ include (print $.Template.BasePath "/configmap.resources.yaml") . | sha256sum }}
        checksum/configmap.env: {{ include (print $.Template.BasePath "/configmap.env.yaml") . | sha256sum }}
        checksum/configmap.ldap-role-mapping: {{ include (print $.Template.BasePath "/configmap.ldap-role-mapping.yaml") . | sha256sum }}
        checksum/configmap.local-users: {{ include (print $.Template.BasePath "/configmap.local-users.yaml") . | sha256sum }}
        checksum/configmap.k8s-specifics: {{ include (print $.Template.BasePath "/configmap.k8s-specifics.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "frankframework.serviceAccountName" . }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        -
          {{- include "frankframework.container" . | nindent 10 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        {{- if .Values.securityContext.readOnlyRootFilesystem }}
        - name: tmpfs
          emptyDir: { }
        {{- end }}
        {{- if .Values.application.credentials.secret }}
        - name: {{ template "frankframework.fullname" . }}-credentials
          secret:
            secretName: {{ .Values.application.credentials.secret }}
        {{- end }}
        {{- if .Values.application.security.http.localUsers }}
        - name: {{ template "frankframework.fullname" . }}-local-users
          configMap:
            name: {{ template "frankframework.fullname" . }}-local-users
        {{- end }}
        {{- if .Values.application.resources }}
        - name: {{ template "frankframework.fullname" . }}-resources
          configMap:
            name: {{ template "frankframework.fullname" . }}-resources
        {{- end }}
        {{- if .Values.application.security.http.activeDirectory.enabled }}
        - name: {{ template "frankframework.fullname" . }}-ldap-role-mapping
          configMap:
            name: {{ template "frankframework.fullname" . }}-ldap-role-mapping
        {{- end }}
        {{- if .Values.persistence.enabled }}
        - name: {{ template "frankframework.fullname" . }}-data
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim | default (printf "%s-%s" ( include "frankframework.fullname" . ) "data") }}
        {{- end }}
        {{- range $i, $e := .Values.application.security.certificateStores }}
        - name: {{ template "frankframework.fullname" $ }}-certificate-store-{{ $i }}
          secret:
            secretName: {{ $e.secretName }}
            items:
              - key: {{ $e.key }}
                path: {{ $e.key }}
            defaultMode: 0664
        {{- end }}
        {{- if .Values.application.properties }}
        - name: {{ template "frankframework.fullname" . }}-k8s-specifics
          configMap:
            name: {{ template "frankframework.fullname" . }}-k8s-specifics
        {{- end }}
