{{- if (and .Values.ladybugDatabase.enabled .Values.ladybugDatabase.auth.generatePostgresqlSecret ) -}}
{{- $postgresPassword := .Values.ladybugDatabase.auth.postgresPassword | default ( randAlphaNum 10 ) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.ladybugDatabase.auth.secretName }}
  labels:
    {{- include "frankframework.labels" . | nindent 4 }}
type: Opaque
stringData:
  # Define the host for the Ladybug database
  LADYBUG_DATABASE_HOST: "{{ include "frankframework.fullname" . }}-ladybug-database"

  # Enables the datasource for the Frank!Framework
  ladybug.jdbc.resourceFile: "ladybug-resources.yml"
  ladybug.jdbc.datasource: "jdbc/ladybug"

  # For Frank!Framework
  ladybug.jdbc.driver: "org.postgresql.Driver"
  ladybug.jdbc.type: "org.postgresql.Driver"
  ladybug.jdbc.url: jdbc:postgresql://${LADYBUG_DATABASE_HOST}:5432/{{ .Values.ladybugDatabase.auth.database | default "postgres" }}
  ladybug.jdbc.username: "postgres"
  ladybug.jdbc.password: "{{ $postgresPassword }}"

  # For PostgreSQL
  postgres-password: "{{ $postgresPassword }}"
{{- end }}