apiVersion: v2
name: frankframework
description: A Helm chart for running the Frank!Framework on Kubernetes
version: 0.7.1
appVersion: "10.0.0-SNAPSHOT"
type: application
home: https://frankframework.org
icon: https://raw.githubusercontent.com/frankframework/charts/master/charts/frankframework/icon.svg

keywords:
  - frankframework
  - integration
  - testing
  - automation

dependencies:
  - name: frank-console
    version: 0.7.0
    alias: console
    condition: console.enabled
    repository: file://../frank-console