## @section Common parameters
## @descriptionStart
## Common parameters for the Frank!Framework Console chart.
##
## Can be used to override the default name for the chart.
##
## @descriptionEnd
##

## @param nameOverride String to partially override fullname template (will maintain the release name)
##
nameOverride: ""
## @param fullnameOverride String to fully override fullname template
##
fullnameOverride: ""

## @section Frank!Framework Console image parameters
## @descriptionStart
## The image is pulled from nexus.frankframework.org by default. The images located there will be kept for as long as possible.
##
## Here are the images available:
## https://nexus.frankframework.org/#browse/browse:frankframework-docker:v2%2Ffrankframework%2Ftags/
##
## If you want to use a specific nightly, you can use the images on docker.io:
## https://hub.docker.com/r/frankframework/frankframework/tags
## @descriptionEnd
##

## Frank!Framework Console image
## @param image.registry Frank!Framework Console image registry
## @param image.repository Frank!Framework Console image repository
## @param image.tag Frank!Framework Console image tag (immutable tags are recommended)
##
image:
  registry: nexus.frankframework.org
  repository: frank-console
  tag: ""
  ## @param image.pullPolicy Frank!Framework Console image pull policy
  ## @extra image.pullPolicy Specify a imagePullPolicy
  ## @extra image.pullPolicy Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
  ## @extra image.pullPolicy ref: https://kubernetes.io/docs/user-guide/images/#pre-pulling-images
  ##
  pullPolicy: IfNotPresent
  ## @param image.pullSecrets Frank!Framework Console image pull secrets
  ## @extra image.pullSecrets Optionally specify an array of imagePullSecrets.
  ## @extra image.pullSecrets Secrets must be manually created in the namespace.
  ## @extra image.pullSecrets ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  ## @extra image.pullSecrets Example is shown in the `values.yaml` file
  ## e.g:
  ## pullSecrets:
  ##   - name: myRegistryKeySecretName
  ##
  pullSecrets: []

## @section Environment variables
## @descriptionStart
## The environment variables are used to configure the Frank!Framework.
##
## It is possible to add environment variables with the `.Values.environmentVariables` parameter and to add environment variables from a configmap or secret with the `.Values.envFrom` parameter.
##
## To fine tune memory refer to the [Oracle documentation](https://docs.oracle.com/javase/8/docs/technotes/tools/unix/java.html#BABDJJFI).
##
## Refer to the [Frank!Framework Manual](https://frank-manual.readthedocs.io/) for more information.
## @descriptionEnd


## @param environmentVariables [object] Set environment variables for the Frank!Framework
## @param environmentVariables.JAVA_OPTS [string,nullable] Set the JAVA_OPTS for the Frank!Framework
##
environmentVariables:
  JAVA_OPTS: "-XX:MaxRAMPercentage=80.0"
  spring_profiles_active: "ladybug.database"

## @param envFrom [array] Set environment variables from configmaps or secrets
## @extra envFrom Example is shown in the `values.yaml` file
## e.g.
## envFrom:
##   - configMapRef:
##       name: frankframework-custom-env
##   - secretRef:
##       name: frankframework-custom-env
##
envFrom: [ ]

## @section Generate ConfigMaps and Secrets
## @descriptionStart
## To deploy the Frank!Framework Console, it can be needed to add some files to the container.
##
## The Frank!Framework Console chart allows you to generate configmaps and secrets from values.
## This is useful if you want to add local users or other authentication to the Frank!Framework Console.
##
## Be sure to set a subPath and a mountPath if you want to avoid conflicts and use multiple secrets.
## With one secret, the subPath and mountPath are not needed. And it would be possible to implement items
## @descriptionEnd
##

## @param generateConfigMap [object] Generate configmaps from values
## @extra generateConfigMap Example is shown in the `values.yaml` file
## @param generateConfigMap.name [string, nullable] Name of the configmap
## @param generateConfigMap.optional [boolean, nullable] Mark the configmap as optional (default false)
## @param generateConfigMap.defaultMode [int, nullable] Default mode of the configmap (default 0644)
## @param generateConfigMap.items [array, nullable] Items of the configmap
## @param generateConfigMap.items.key [string, nullable] Key of the configmap
## @param generateConfigMap.items.path [string, nullable] Path of the configmap
## @param generateConfigMap.items.mode [int, nullable] Mode of the configmap
## @param generateConfigMap.mountPath [string, nullable] Path where the configmap will be mounted (default /opt/frank/secrets)
## @param generateConfigMap.readOnly [boolean, nullable] ReadOnly of the configmap (default true)
## @param generateConfigMap.data [object, nullable] Data of the configmap
## e.g: generateConfigMap:
##  - name: local-users
##    mountPath: /app/localUsers.yml
##    subPath: localUsers.yml
##    stringData:
##      localUsers.yml: |-
##        - username: admin
##          password: admin
##
generateConfigMap: []

## @param generateSecret [object] Generate secrets from values
## @extra generateSecret Example is shown in the `values.yaml` file
## @param generateSecret.name [string, nullable] Name of the secret
## @param generateSecret.type [string, nullable] Type of the secret (default Opaque)
## Options: `Opaque`, `kubernetes.io/dockerconfigjson`
## @param generateSecret.optional [boolean, nullable] Mark the secret as optional (default false)
## @ param generateSecret.defaultMode [int, nullable] Default mode of the secret (default 0644)
## @param generateSecret.items [array, nullable] Items of the secret
## @param generateSecret.items.key [string, nullable] Key of the secret
## @param generateSecret.items.path [string, nullable] Path of the secret
## @param generateSecret.items.mode [int, nullable] Mode of the secret
## @param generateSecret.mountPath [string, nullable] Path where the secret will be mounted (default /opt/frank/secrets)
## @param generateSecret.readOnly [boolean, nullable] ReadOnly of the secret (default true)
## @param generateSecret.data [object, nullable] Data of the secret
## @param generateSecret.stringData [object, nullable] StringData of the secret
## e.g: generateSecret:
##  - name: local-users
##    mountPath: /app/localUsers.yml
##    subPath: localUsers.yml
##    stringData:
##      localUsers.yml: |-
##        - username: admin
##          password: admin
##
generateSecret: []

## @section Volumes
## @descriptionStart
## The Frank!Framework chart allows you to create and mount volumes to the Frank!Framework.
## This is useful if you want to add existing local users or authentication to the Frank!Framework.
## @descriptionEnd
##

## @param extraVolumes Optionally specify extra list of additional volumes for WordPress pods
## ref: https://kubernetes.io/docs/concepts/storage/volumes/
##
extraVolumes: []

## @param extraVolumeMounts Optionally specify extra list of additional volumeMounts for WordPress container(s)
## ref: https://kubernetes.io/docs/concepts/storage/volumes/
##
extraVolumeMounts: []

## @section Sidecars
## @descriptionStart
## The Frank!Framework chart allows you to add additional sidecar containers to the Frank!Framework pod.
## This is useful if you want to add additional tools to the Frank!Framework.
## @descriptionEnd
##

## @param sidecars Add additional sidecar containers to the Frank!Framework pod
## @extra sidecars Example is shown in the `values.yaml` file
## e.g:
## sidecars:
##   - name: your-image-name
##     image: your-image
##     imagePullPolicy: Always
##     ports:
##       - name: portname
##         containerPort: 1234
##
sidecars: []

## @param initContainers Add additional init containers to the Frank!Framework pod
## @extra initContainers ref: https://kubernetes.io/docs/concepts/workloads/pods/init-containers/
## @extra initContainers Example is shown in the `values.yaml` file
## e.g:
## initContainers:
##  - name: your-image-name
##    image: your-image
##    imagePullPolicy: Always
##    command: ['sh', '-c', 'download a driver jar and place it in /usr/local/tomcat/lib']
##
initContainers: []

## @section Ladybug Database
## @descriptionStart
## The Ladybug Database is a PostgreSQL dependency that is used to store Ladybug reports and is not needed when the Ladybug is disabled.
##
## Note that this dependency is not used for the Frank!Framework itself, that datasource should be configured with the `resources.yaml` file.
##
## The dependency is enabled by default, but can be disabled if you want to use an external database for Ladybug.
##
## To configure the PostgreSQL Helm chart, please refer to the documentation:
## https://github.com/bitnami/charts/tree/main/bitnami/postgresql
##
## Some of the parameters are pre-configured for an easy installation, but can be changed if needed.
## @descriptionEnd

## @param ladybugDatabase.auth.existingSecret Name of the secret
##
ladybugDatabase:
  auth:
    existingSecret: ""

## @section Frank!Framework Console deployment parameters
## @descriptionStart
## The startup probe will enable blue-green deployment, which are great for uptime during upgrades and such.
## It (and the liveness probe) will check if the console is accessible, until a better health endpoint is available.
## The readiness probe will check if all adapters are running using the server health endpoint
## @descriptionEnd
##

## @param replicaCount Number of Frank!Framework Console replicas to deploy
## @extra replicaCount NOTE: ReadWriteMany PVC(s) are required if replicaCount > 1
##
replicaCount: 1

## @param startupProbe Configure the startup probe
## @extra startupProbe ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes
##
startupProbe: {}

## @param livenessProbe Configure the liveness probe
## @extra livenessProbe ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes
##
livenessProbe: {}

## @param readinessProbe Configure the readiness probe
## @extra readinessProbe ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes
##
readinessProbe: {}

## @param resources Set the resources for the Frank!Framework Console containers
## @extra resources ref: https://kubernetes.io/docs/user-guide/compute-resources/
## @extra resources Example is shown in the `values.yaml` file
## e.g.:
## resources
##   limits:
##     cpu: 2000m
##     memory: 4200M
##   requests:
##     cpu: 2000m
##     memory: 4200M
##
resources: {}

## @skip autoscaling
##
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

## @param terminationGracePeriodSeconds Number of seconds after which pods are forcefully killed
## @extra terminationGracePeriodSeconds Note: Lower values may cause running adapters to fail
terminationGracePeriodSeconds: 60

## @param nodeSelector Node labels for pod assignment
## @extra nodeSelector ref: https://kubernetes.io/docs/user-guide/node-selection/
##
nodeSelector: {}

## @param tolerations Set tolerations for pod assignment
## @extra tolerations ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
##
tolerations: []

## @param affinity Set affinity for pod assignment
## @extra affinity Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
## @extra affinity NOTE: podAffinityPreset, podAntiAffinityPreset, and nodeAffinityPreset will be ignored when it's set
##
affinity: {}

## @param timeZone used for database connection and log timestamps
##
timeZone: Etc/UTC

## @section Traffic Exposure Parameters
##

## Frank!Framework Console service parameters
##
service:
  ## @param service.type Frank!Framework Console service type
  ##
  type: ClusterIP
  ## @param service.port Frank!Framework Console service port
  port: 80
  ## @param service.annotations Additional annotations for the Frank!Framework Console service
  ##
  annotations: {}

## Configure the ingress resource that allows you to access the Frank!Framework Console installation.
## @extra ingress ref: https://kubernetes.io/docs/concepts/services-networking/ingress/
##
ingress:
  ## @param ingress.enabled Enable ingress record generation for Frank!
  ##
  enabled: false
  ## @param ingress.className IngressClass that will be used to implement the Ingress (Kubernetes 1.18+)
  ## @extra ingress.className This is supported in Kubernetes 1.18+ and required if you have more than one IngressClass marked as the default for your cluster .
  ## @extra ingress.className ref: https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/
  ##
  className: ""
  ## @param ingress.annotations Additional annotations for the Ingress resource. To enable certificate autogeneration, place here your cert-manager annotations.
  ## @extra ingress.annotations For a full list of possible ingress annotations, please see
  ## @extra ingress.annotations ref: https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/annotations.md
  ## @extra ingress.annotations Use this parameter to set the required annotations for cert-manager, see
  ## @extra ingress.annotations ref: https://cert-manager.io/docs/usage/ingress/#supported-annotations
  ## @extra ingress.annotations Example is shown in the `values.yaml` file
  ## e.g:
  ## annotations:
  ##   kubernetes.io/ingress.class: nginx
  ##   kubernetes.io/tls-acme: 'true'
  ##
  annotations: {}
  ## @param ingress.hosts [object] Set hosts for ingress
  ## @param ingress.hosts.host [string, nullable] Set hostname
  ## @param ingress.hosts.paths [array, nullable] Set multiple paths
  ## @param ingress.hosts.paths.path [string, nullable] Set path (context url)
  ## @param ingress.hosts.paths.pathType [string, nullable] Set type of path
  ##
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  ## @param ingress.tls [object] Define tls secrets for hosts
  ## @extra ingress.tls Example is shown in the `values.yaml` file
  ## e.g.
  ## tls:
  ##   - secretName: chart-example-tls
  ##     hosts:
  ##       - chart-example.local
  ##
  tls: []

## @section Other Parameters
##

## Frank!Framework Console Service Account.
## @extra serviceAccount ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/
##
serviceAccount:
  ## @param serviceAccount.create Enable creation of ServiceAccount for Frank!Framework Console pod
  ##
  create: true
  ## @param serviceAccount.annotations Additional custom annotations for the ServiceAccount
  ##
  annotations: {}
  ## @param serviceAccount.name The name of the ServiceAccount to use.
  ## If not set and create is true, a name is generated using the frankframework.fullname template
  ##
  name: ""

## @param podAnnotations Annotations for Frank!Framework Console pods.
## @extra podAnnotations ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
##
podAnnotations: {}

## @param podLabels Extra labels for Frank!Framework Console pods.
## @extra podLabels ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
##
podLabels: {}

## Configure Pods Security Context
## @param podSecurityContext [object] Set Frank!Framework Console pod's Security Context.
## @extra podSecurityContext ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
##
podSecurityContext: {}

## Configure Container Security Context (only main container)
## @param securityContext [object] Set Frank!Framework Console container's Security Context.
## @extra securityContext ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
## @extra securityContext Example is shown in the `values.yaml` file
## e.g.
## securityContext: {}
##  capabilities:
##    drop:
##      - ALL
##  readOnlyRootFilesystem: true
##  runAsNonRoot: true
##  runAsUser: 1000
##
securityContext: {}